
&__box {
    max-width: 703px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: #2D5497;

    transition: transform .8s;
    border-radius: 10px;

    &_close {
        border: none;
        background-color: #2D5497;
        float: right;
        cursor: pointer;
    }

    &_title {
        @media(max-width: 426px) {
            font-size: 35px;
        }

        display: flex;
        justify-content: center;
        font-size: 38px;
        font-weight: 450;
        color: #fff;
        font-family: "Inter",
        sans-serif;
    }

    &_input {
        @media(max-width: 426px) {
            width: 90%;
        }

        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;

        &_tel {
            @media(max-width: 426px) {
                width: 100%;
                font-size: 16px;
            }

            margin-top: 50px;
            border: none;
            width: 589px;
            height: 50px;
            background-color: #fff;
            font-size: 20px;
            padding-left: 20px;
            border-radius: 90px;
        }

        &_email {
            @media(max-width: 426px) {
                width: 100%;
                font-size: 16px;
            }

            border: none;
            width: 589px;
            height: 50px;
            background-color: #fff;
            font-size: 20px;
            padding-left: 20px;
            border-radius: 90px;
        }

        &_text {
            @media(max-width: 426px) {
                width: 100%;
                margin: 0 auto;
                font-size: 16px;
            }

            border: none;
            width: 589px;
            background-color: #fff;
            font-size: 20px;
            padding-left: 20px;
            border-radius: 20px;
            padding-top: 15px;
        }
    }

    &_btn {
        @media(max-width: 426px) {
            width: 100%;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        &_text {
            @media(max-width: 426px) {
                width: 100%;
                padding: 20px;
                font-size: 16px;
            }

            padding: 20px 150px;
            border: none;
            border-radius: 20px;
            background-color: #1E2B4E;
            color: #fff;
            font-size: 24px;
            font-weight: 400;
            font-family: "Inter",
            sans-serif;
            cursor: pointer;
        }

    }
}