&__box {

    margin-top: 34px;

    &_wrap {
        @media(max-width: 426px) {
            display: flex;
            flex-direction: column;
        }
    }

    &_img {
        @media(max-width: 426px) {
            width: 90%;
            margin: 0 auto;
        }
    }

    &_contact {
        @media(max-width: 426px) {
            width: 90%;
            margin: 0;
            margin: 0 auto;
            margin-top: 40px;
        }

        margin-left: 97px;


        &_text {
            display: flex;
            margin-bottom: 20px;

            &_num {
                display: flex;
                align-items: center;
                margin-left: 12px;
                color: #fff;
                font-size: 20px;
                font-family: "Inter", sans-serif;
                font-weight: 450;
            }
        }

        &_btn {
            @media(max-width: 426px) {
                width: 100%;
                margin: 0;
                margin: 0 auto;
                margin-top: 70px;
            }

            margin-top: 70px;

            &_text {
                @media(max-width: 426px) {
                    width: 100%;
                    margin: 0;
                    margin: 0 auto;
                    margin-bottom: 50px;
                    margin-top: 70px;
                }

                padding: 16px 50px;
                background-color: #fff;
                border-radius: 20px;
                color: #1E2B4E;
                align-items: center;
                font-size: 20px;
                font-weight: 400;
                font-family: "Inter",
                sans-serif;
                border: none;
                cursor: pointer;
            }
        }
    }

    &_map {
        @media(max-width: 426px) {
            display: none;
        }

        margin-left: 36%;
        margin-top: -5%;
    }

    &_wrap {
        display: flex;
    }

}