.main {
    @media(max-width: 426px) {
        height: 100%;
    }

    height: auto;

    &_wrap {
        @media(max-width: 426px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-family: "Rubik Mono One";
        letter-spacing: 14%;
        margin-top: 13px;
        color: #fff;
    }

    @import './mainComponents/mainBox.scss';
}